@model SoundWave.Models.SongModel

@{
    ViewData["Title"] = "Delete";
	Layout = null;
	Context.Request.Cookies.TryGetValue("userFullNameSoundWave", out string? FullName);
	Context.Request.Cookies.TryGetValue("userLoginSoundWave", out string? value);
	Context.Request.Cookies.TryGetValue("userIsAdminSoundWave", out string? isAdmin);
	string shortTittle = string.Empty;
	string shortExecutor = string.Empty;
}



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Sound Wave</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MusicalPortal.styles.css" asp-append-version="true" />
	<link rel="icon" href="~/img//SoundWaveLogo1.svg" />
</head>
<body id="bodyFromLayoutWaveStudio">


	<header>
		<section>
			<div class="btnSideBarStyle">
				<div id="btnSideBar">
					<img src="~/img/menu (2).png" />
				</div>
			</div>
			<div id="IconTitle">
				<img src="~/img/SoundWaveLogo1.svg" />
				<h2>WaveStudio</h2>
			</div>
		</section>


		<section>
			<div id="profileMenu">
				<img id="profileMenubtn" src="/img/ProfileData.png" />
			</div>

			<div class="profileContextMenu">
				<h3>@FullName</h3>
				<h3>@value</h3>
				<div id="myHr"></div>
				<div>
					<ul>
						<li>
							<a asp-action="Index" asp-controller="WaveStudio">
								<img src="~/img/SoundWaveLogo1.svg" />
								<h2>WaveStudio</h2>
							</a>
						</li>
						<li>
							<a>
								<img src="~/img/account.png" />
								<h2>@SoundWave.Resources.Resource.AccountInfo</h2>
							</a>
						</li>
						<li>
							<a asp-action="LogOut" asp-controller="Account">
								<img src="~/img/logout.png" />
								<h2>@SoundWave.Resources.Resource.Exit</h2>
							</a>
						</li>
						<li>
							<div id="languages">
								<img src="~/img/worldwide.png" />
								<h2>@SoundWave.Resources.Resource.Language</h2>
								<div id="allLanguages">
									<a asp-action="ChooseCulture" asp-controller="Home" asp-route-lang="en">
										English(US)
									</a>
									<a asp-action="ChooseCulture" asp-controller="Home" asp-route-lang="ru">
										Русский
									</a>
									<a asp-action="ChooseCulture" asp-controller="Home" asp-route-lang="uk">
										Українська
									</a>
									<a asp-action="ChooseCulture" asp-controller="Home" asp-route-lang="fr">
										Français
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div id="myHr"></div>
				<div id="aboutSoundWave">
					<p>@SoundWave.Resources.Resource.Info</p>
				</div>
			</div>

		</section>
	</header>



	<main role="main" id="mainWaveStudioSongs">
		<section id="sideBarWaveStudio" class="hiddenSideBar">
			<ul>
				<li>
					<a asp-action="Index" asp-controller="Home">
						<div>
							<img src="~/img/home.png" />
							<h2>@SoundWave.Resources.Resource.Home</h2>
						</div>
					</a>
				</li>
				<li>
					<a asp-controller="Songs" asp-action="Index">
						<div class="chooseView">
							<img src="~/img/music-note.png" />
							<h2>@SoundWave.Resources.Resource.AddAudio</h2>
						</div>
					</a>
				</li>
				@if (isAdmin == "True")
				{
					<li>
						<a asp-action="Index" asp-controller="Ganres">
							<div>
								<img src="~/img/genre.png" />
								<h2>@SoundWave.Resources.Resource.AddGenre</h2>
							</div>
						</a>
					</li>
					<li>
						<a asp-action="UsersStatus" asp-controller="Account">
							<div>
								<img src="~/img/multiple-users-silhouette.png" />
								<h2>@SoundWave.Resources.Resource.AddUser</h2>
							</div>
						</a>
					</li>
				}
			</ul>
			<div id="hrSideBar" class="hiddenHrSideBar"></div>
		</section>
		<section id="ListSongs">
			<div>
				<form id="filterForm">
					<div id="SearchField">
						<input id="SearchFieldInput" type="text" name="searchByTitle" value="@Model.FilterViewModel.SearchedData" placeholder="@SoundWave.Resources.Resource.SearchByTitle" />
						<button asp-action="Index" id="btnSearch"><img src="~/img/search (1).png" /></button>
						<img id="delFilters" src="~/img/reset.png" />
						<input type="hidden" value="@Model.SortViewModel?.current" name="sortOrder" />
					</div>
					<div id="Filters">
						<div id="listGenresForFilter">
							<input id="filterGenres" name="filterByGenre" value="@Model.FilterViewModel.SelectedGenres" placeholder="@SoundWave.Resources.Resource.FilterByGenre" />
							<img id="BtnOpenListGenres" src="~/img/arrowDownBlack.png" />
							<div id="comboBoxGenres" class="styleComboBox">
								@foreach (var g in Model.FilterViewModel.Genres)
								{
									<div>
										<h2 class="SelectedGanres">@g.Title</h2>
									</div>
								}


							</div>
						</div>
						<div id="listExecutorsForFilter">
							<input id="filterExecutors" name="filterByExecutor" value="@Model.FilterViewModel.SelectedExecutor" placeholder="@SoundWave.Resources.Resource.FilterByExecutor" />
							<img id="BtnOpenListExecutors" src="~/img/arrowDownBlack.png" />
							<div id="comboBoxUsers" class="styleComboBox">
								@foreach (var ex in Model.FilterViewModel.Executors)
								{
									<div>
										<h2 class="SelectedExecutor">@ex</h2>
									</div>
								}
							</div>
						</div>
						<div id="FiltersSort">
							<img id="SortFilterBtn" src="~/img/sort-descending.png" />
							<div id="SortFilterList">
								<a asp-route-sortOrder="@SortState.TitleAsc"
								   asp-route-searchByTitle="@Model.FilterViewModel.SearchedData"
								   asp-route-filterByGenre="@Model.FilterViewModel.SelectedGenres"
								   asp-route-filterByExecutor="@Model.FilterViewModel.SelectedExecutor">
									<div>
										<h2>• A - Z</h2>
									</div>
								</a>
								<a asp-route-sortOrder="@SortState.TitleDesc"
								   asp-route-searchByTitle="@Model.FilterViewModel.SearchedData"
								   asp-route-filterByGenre="@Model.FilterViewModel.SelectedGenres"
								   asp-route-filterByExecutor="@Model.FilterViewModel.SelectedExecutor">
									<div>
										<h2>• Z - A</h2>
									</div>
								</a>
							</div>
						</div>
					</div>
				</form>
			</div>
			<p id="yourSongsAdd">@SoundWave.Resources.Resource.YourSongs:</p>
			<div id="listSongs">
				@foreach (var song in Model.songs)
				{
					if (song.OwnerId == Model.IdActiveUser)
					{
						if (song.Title.Length > 30)
						{
							shortTittle = song.Title.Substring(0, 30);
							shortTittle += "...";
						}
						else
							shortTittle = song.Title;

						if (song.Executor.Length > 30)
						{
							shortExecutor = song.Executor.Substring(0, 30);
							shortExecutor += "...";
						}
						else
							shortExecutor = song.Executor;


						<a asp-action="Edit" asp-controller="Songs" asp-route-id="@song.Id"
						   asp-route-searchByTitle="@(Model.FilterViewModel.SearchedData)"
						   asp-route-filterByGenre="@(Model.FilterViewModel.SelectedGenres)"
						   asp-route-filterByExecutor="@(Model.FilterViewModel.SelectedExecutor)"
						   asp-route-sortOrder="@(Model.SortViewModel?.current)" class="songV">
							<img src="@song.preview" />
							<div>
								<div><h2>@shortTittle</h2></div>
								<div><p>@shortExecutor</p></div>
							</div>
							<h2 class="DurationList">@song.duration</h2>
						</a>
					}
				}
			</div>
			<div>
				<page-link page-model="Model.PageViewModel" page-action="Index"
						   page-url-searchByTitle="@(Model.FilterViewModel.SearchedData)"
						   page-url-filterByGenre="@(Model.FilterViewModel.SelectedGenres)"
						   page-url-filterByExecutor="@(Model.FilterViewModel.SelectedExecutor)"
						   page-url-sortOrder="@(Model.SortViewModel?.current)"> </page-link>
			</div>

		</section>

		<section id="songDelete">
			<div>
				<div>
					<h2>@SoundWave.Resources.Resource.ConfirmDelete:</h2>
					<h3>@Model.Title?</h3>
					<form asp-action="Delete">
						<input type="hidden" asp-for="Id" />
						<a asp-action="Edit" asp-route-id="@Model.Id"
						   asp-route-searchByTitle="@(Model.FilterViewModel.SearchedData)"
						   asp-route-filterByGenre="@(Model.FilterViewModel.SelectedGenres)"
						   asp-route-filterByExecutor="@(Model.FilterViewModel.SelectedExecutor)"
						   asp-route-sortOrder="@(Model.SortViewModel?.current)">@SoundWave.Resources.Resource.BackBtn</a>
						<input type="submit" value="@SoundWave.Resources.Resource.DelBtn" />
						<input id="filterByExecutorFormSend" type="hidden" name="filterByExecutor" value="@Model.FilterViewModel.SelectedExecutor" />
						<input id="filterByGenreFormSend" type="hidden" name="filterByGenre" value="@Model.FilterViewModel.SelectedGenres" />
						<input id="searchByTitleFormSend" type="hidden" name="searchByTitle" value="@Model.FilterViewModel.SearchedData" />
						<input type="hidden" name="sortOrder" value="@Model.SortViewModel.current" />

					</form>
				</div>
			</div>

		</section>
	</main>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/WaveStudio.js" asp-append-version="true"></script>

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

</body>
</html>
