@model SoundWave.Models.GanreModel

@{
    ViewData["Title"] = "Delete";
    Layout = null;
    Context.Request.Cookies.TryGetValue("userFullNameSoundWave", out string? FullName);
    Context.Request.Cookies.TryGetValue("userLoginSoundWave", out string? value);
    Context.Request.Cookies.TryGetValue("userIsAdminSoundWave", out string? isAdmin);
}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Sound Wave</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/MusicalPortal.styles.css" asp-append-version="true" />
	<link rel="icon" href="~/img//SoundWaveLogo1.svg" />
</head>
<body id="bodyFromLayoutWaveStudio">


	<header>
		<section>
			<div class="btnSideBarStyle">
				<div id="btnSideBar">
					<img src="~/img/menu (2).png" />
				</div>
			</div>
			<div id="IconTitle">
				<img src="~/img/SoundWaveLogo1.svg" />
				<h2>WaveStudio</h2>
			</div>
		</section>


		<section>
			<div id="profileMenu">
				<img id="profileMenubtn" src="/img/ProfileData.png" />
			</div>

			<div class="profileContextMenu">
				<h3>@FullName</h3>
				<h3>@value</h3>
				<div id="myHr"></div>
				<div>
					<ul>
						<li>
							<a asp-action="Index" asp-controller="WaveStudio">
								<img src="~/img/SoundWaveLogo1.svg" />
								<h2>WaveStudio</h2>
							</a>
						</li>
						<li>
							<a>
								<img src="~/img/account.png" />
								<h2>Аккаунт</h2>
							</a>
						</li>
						<li>
							<a asp-action="LogOut" asp-controller="Account">
								<img src="~/img/logout.png" />
								<h2>Выйти</h2>
							</a>
						</li>
					</ul>
				</div>
				<div id="myHr"></div>
				<div id="aboutSoundWave">
					<p>SoundWave - платформа для прослушивания музыки</p>
				</div>
			</div>

		</section>
	</header>



	<main role="main" id="mainWaveStudioGanres">
		<section id="sideBarWaveStudio" class="hiddenSideBar">
			<ul>
				<li>
					<a asp-action="Index" asp-controller="Home">
						<div>
							<img src="~/img/home.png" />
							<h2>Главная</h2>
						</div>
					</a>
				</li>
				<li>
					<a asp-controller="Songs" asp-action="Index">
						<div>
							<img src="~/img/music-note.png" />
							<h2>Добавить трек</h2>
						</div>
					</a>
				</li>
				@if (isAdmin == "True")
				{
					<li>
						<a asp-action="Index" asp-controller="Ganres">
							<div class="chooseView">
								<img src="~/img/genre.png" />
								<h2>Добаить жанр</h2>
							</div>
						</a>
					</li>
					<li>
						<a asp-action="UsersStatus" asp-controller="Account">
							<div>
								<img src="~/img/multiple-users-silhouette.png" />
								<h2>Пользователи</h2>
							</div>
						</a>
					</li>
				}
			</ul>
			<div id="hrSideBar" class="hiddenHrSideBar"></div>
		</section>
		<section id="fieldGanresRemove">
			<h2>Вы действительно хотите удалить жанр: @Model.Title?</h2>
			<div>
				<form asp-action="Delete">
					<input type="hidden" asp-for="Id" />
					<a asp-action="Edit" asp-route-id="@Model.Id">Назад</a>
					<input type="submit" value="Удалить" />
				</form>
			</div>
		</section>
		<section id="ListGanres">
			<h3>Все жанры:</h3>
			<div>
				<ul>
					@foreach (var item in Model.ganres)
					{
						<li>
							<a asp-action="Edit" asp-controller="Ganres" asp-route-id="@item.Id">
								@if (item.Id == Model.Id)
								{
									<div class="chooseGanre">
										<h1>• @Html.DisplayFor(modelItem => item.Title)</h1>
									</div>
								}
								else
								{
									<div>
										<h1>• @Html.DisplayFor(modelItem => item.Title)</h1>
									</div>
								}
							</a>
						</li>
					}
				</ul>
			</div>
		</section>

	</main>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/WaveStudio.js" asp-append-version="true"></script>

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

</body>
</html>




